ul, ol {
  list-style-position: outside;
}

.menu-item-index {
  text-align: center;
}

#content-index {
  padding-top: 5em;
}

/* Breakpoint behaviour */
@media (min-width: 550px) {
  #menu-index {
    border-bottom: black 2px solid;
  }
}