ul, ol {
  list-style-position: outside;
}

.menu-item-index {
  text-align: center;
}

#content-index {
  padding-top: 5em;
}

/* Breakpoint behaviour */
@media (min-width: 550px) {
  #menu-index {
    border-bottom: black 2px solid;
  }
}

a:hover {
  opacity: 1;
}

/* CSS Blurring transition. The effect is created with text shadow and transparency.
 */


/* Initial values must be explicit so that the transition also works in reverse */
.menu-item-index > a, h4 > a {
  color: black;
  text-shadow: none;
  /* comment out this one line to have the changes be instant */
  transition: all 0.5s;
}

.menu-item-index > a:hover, h4 > a:hover {
  color: transparent;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
}