.menu-item-index {
  text-align: center;
}

@media (min-width: 550px) {
  #menu-index {
    border-bottom: black 2px solid;
  }
}

a {
  text-decoration: none;
  color: black
}

a:visited {
  color: #404040
}

a:hover {
  opacity: 0.35;
}